html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: #333;
  @mixin atSmall {
    font-size: 1.6rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 2.6rem;
  @mixin atSmall {
    font-size: 3.2rem;
  }
}

a {
  color: $star-command-blue;
}