$spanishViridian: #007F5F;
$spanishGreen: #2B9348;
$greenRYB: #55A630;
$appleGreen: #80B918;
$androidGreen: #AACC00;
$bitterLemon: #BFD200;
$pear: #D4D700;
$titaniumYellow: #DDDF00;
$xanthic: #EEEF20;
$maximumYellow: #FFFF3F;
$orange: #d59541;