$phthaloGreen: #09200C;
$spanishViridian: #007F5F;
$spanishGreen: #2B9348;
$greenRYB: #55A630;
$appleGreen: #80B918;
$androidGreen: #AACC00;
$bitterLemon: #BFD200;
$pear: #D4D700;
$titaniumYellow: #DDDF00;
$xanthic: #EEEF20;
$maximumYellow: #FFFF3F;
$selectiveYellow: #FFBA08;
$maxYellowRed:#FFBF46;
$honeyYellow:#F5AF00;
$orange: #d59541;
$cafeNoir: #3d2800; 
$roseWood: #6A040F;
$darkRed:#9D0208;
$rosoCorsa: #D00000;