.about-us {
  margin-left: 6rem;
  margin-right: 6rem;
  font-size: 1.9rem;
  font-weight: 300;
  color: $spanishGreen;
  text-align: justify;

  p {
    color: $cafeNoir;
  }
  @mixin atSmall {
    font-size: 2.875rem;
  }

  &__centered {
    text-align: center;
  }

  &__cafenoir {
    color: $cafeNoir;
  }

  &__small {
    font-size: 1.2rem;
    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

  &__narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &__light {
    font-weight: 100;
  }

  strong {
    font-weight: 400;
  }

  &__b-margin-small {
    margin-bottom: .4rem;
  }

  &__t-margin-large {
    margin-bottom: 3rem;
  }

  &__b-margin-large {
    margin-bottom: 3.0rem;
  }

  &__no-margin {
    margin-top: 0;
    margin-left: 0;
  }
}