.about-us {
  margin-left: 6rem;
  margin-right: .2rem;
  font-weight: 300;
  color: $star-command-blue;
  text-align: justify;

  &__centered {
    text-align: center;
  }

  &__navyblue {
    color: $navy-blue;
  }

  &__small {
    font-size: 1.8rem;
    @mixin atSmall {
      font-size: 2.2rem;
    }
  }

  &__narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  &__light {
    font-weight: 100;
  }

  strong {
    font-weight: 400;
  }

  &__b-margin-small {
    margin-bottom: .4rem;
  }

  &__t-margin-large {
    margin-left: 0;
    margin-bottom: 3rem;
  }

  &__b-margin-large {
    margin-left: 0;
    margin-bottom: 3.0rem;
  }

  &__no-margin {
    margin-top: 0;
    margin-left: 0;
  }
}