.contact-us {
  background-color: rgba(202, 240, 248, 0.95);
  margin-left: 6rem;

  &__description {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.65;
  }

}
