.large-hero {
  margin-left: 6rem;
  border-bottom: 10px solid $spanishGreen;
  position: relative;

  &__image {
    display: block;
    opacity: 0.15;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;

    @mixin atMedium {
      top: 50%;
      padding-top: .5rem;
    }
  }

  &__title {
    color: $spanishGreen;
    font-weight: 300;
    text-shadow: .1rem .1rem .2rem #000;
    font-size: 3rem;
  
    @mixin atMedium {
      font-size: 5.2rem;
    }

  }

  &__subtitle {
    font-weight: 300;
    color: $spanishGreen;
    text-shadow: .1rem .1rem .2rem #000;
    font-size: 2rem;
    margin: 0 0 4rem 0;

    @mixin atMedium {
      font-size: 3.2rem;
    }

  }

  &__description {
    color: $cafeNoir;
    font-size: 1.6rem;
    font-weight: 300;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 2rem;
    }
  }

}