.navigation {
  position: fixed;
  left: -24rem;
  width: 30rem;
  height: 100%;
  background: linear-gradient(to top, rgba(3, 5, 3, 0.87), rgba(32, 41, 25, 0.7)) ,url(assets/images/coding_bg_400-1280.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left .8s cubic-bezier(1, 0, 0, 1);
  z-index: 20;

  &__list {
    list-style: none;
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    position: relative;
  }

  &__link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s;
    &.is-current-link {
      color:$maximumYellow;
    }
  
  }

  &__link::before {
    content: "";
    width: 0rem;
    height: .1rem;
    background-color:$maximumYellow;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
  }

  &__link::after {
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: $maximumYellow;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
  }

  &__link:hover {
    color: $maximumYellow;
  }

  &__link:hover::before,
  &__link:hover::after {
    width: 3rem;
  }

  &__copyright {
    color:#bbb;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

.checkbox:checked ~ .navigation {
  left: 6rem;
}

.checkbox:checked ~ .sidebar .sidebar__line-1 {
  transform: rotate(-405deg) translate(-5px, 6px);
  width: 2.5rem;
}

.checkbox:checked ~ .sidebar .sidebar__line-2 {
  opacity: 0;
}

.checkbox:checked ~ .sidebar .sidebar__line-3 {
  transform: rotate(405deg) translate(-5px, -6px);
  width: 2.5rem;
}

.navigation .site-header__rg-logo {
  margin-top: 1.2rem;
  margin-left: 0;
}