.projects {
  margin-left: 6rem;
  background-color: rgba(173, 232, 244, .7);
  padding: 0 18px 1px 18px;
  margin-bottom: 1rem;
  text-align: justify;
  position:relative;

  @mixin atLarge {
    margin-bottom: 0;
    padding: 0 1.8125rem 1px 1.8125rem;
  }

  a {
    text-decoration: none;
  }

  hr {
    border: .1rem solid $sky-blue-crayola-2;
  }

  &__functions {
    margin-bottom: 8.2rem;
    font-size:1.2rem;

    @mixin atSmall {
      margin-bottom: 8.2rem;
      font-size: 1.2rem;
    }
  }

  &--last {
    margin-bottom: 0;
  }

  &__photo {
    border-radius: .4rem;
    overflow: hidden;
    width: 300px;
    height:200px;
    margin: 0 auto -80px auto;
    position: relative;
    top: -80px;
    box-shadow: 3px 2px 2px #FFFFFF inset, 0 2px 2px rgba(0, 0, 0, 0.55);
  }

  &__title {
    color: $star-command-blue;
    text-align: center;
    font-weight: 500;
    margin: 1.6rem 0 0 0;
  }

  &__subtitle {
    color: $navy-blue;
    text-align: center;
    font-weight: 400;
    margin: .25rem 0 1rem 0;
  }

  &__tools {
    width: 300px;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 119, 182, .5);
    font-size: 2.0rem;
    color: rgba(255, 255, 255, .7);
    padding: .4rem 0;
    top: .9rem;
    left:50%;
    margin-top: 8rem;
    margin-left: -150px;
    border-style: solid;
    border-radius: 0 0 .4rem .4rem;
    border-width: .1rem;
    border-color: rgba(0, 119, 182, .1);
  }

}